/**
 * Sunset Theme - Orange & Red Gradient
 * Primary: Orange tones
 * Secondary: Red/Rose tones
 */

@theme {
    /* Primary Color - Orange */
    --color-primary-50: #fff7ed;
    --color-primary-100: #ffedd5;
    --color-primary-200: #fed7aa;
    --color-primary-300: #fdba74;
    --color-primary-400: #fb923c;
    --color-primary-500: #f97316;
    --color-primary-600: #ea580c;
    --color-primary-700: #c2410c;
    --color-primary-800: #9a3412;
    --color-primary-900: #7c2d12;

    /* Secondary Color - Rose */
    --color-secondary-50: #fff1f2;
    --color-secondary-100: #ffe4e6;
    --color-secondary-200: #fecdd3;
    --color-secondary-300: #fda4af;
    --color-secondary-400: #fb7185;
    --color-secondary-500: #f43f5e;
    --color-secondary-600: #e11d48;
    --color-secondary-700: #be123c;
    --color-secondary-800: #9f1239;
    --color-secondary-900: #881337;
}
